/*Se cargan las fuentes del proyecto*/
  
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: antiquewhite;
}

/* Css para la cabecera */
header{
    background: linear-gradient(to right, #7798FC, #98B9FF);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

header .logo img{
    width: auto;
    height: 70px;
}

header .logo{
    cursor: pointer;
    transition: all 0.3s;
}

header .logo :hover{
    transform: scale(1.2);
}

header .nav-links{
    list-style: none;
}

header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

header .nav-links li:hover{
    transform: scale(1.1);
}

header .nav-links a{
    font-size: 0.8 rem;
    color: aliceblue;
    text-decoration: none;
}

header .nav-links a:hover{
    color: black;
}

header button{
    color: #7798FC;
    padding: 9px 25px;
    background-color: antiquewhite;
    font-weight: 0.8rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s easy 0s;
}

header button:hover{
    transform: scale(1.1);
    background-color: azure;
    color: black;
}